{% include 'layouts/base.html' %}  

{% block title %}Healthcare Providers{% endblock %}

  <!-- Main -->
  <main id="main" class="main">
    <div class="pagetitle" style="margin-left: 195px;">
      <h1><strong>Healthcare Providers</strong></h1>
  </div>

    <section class="section">
        <section class="section dashboard">
            <div class="row">
      {% block content %}
      <div class="pb-5">
        <div class="row">
          <!--<div class="col-lg-9 col-10">
            <h1 class="pt-3 pl-4">Healthcare Providers</h1>
          </div>-->
        </div>
        <div class="">
          <div class="pl-3">
            <form action="/users/{{ current_user.user_id }}" method="post">
              <div class="mb-3">
                <div class="row">
                  {% for healthcare_provider in healthcare_providers %}
                    <div class="col-lg-3 text-center">
                      <div class="card align-items-center pt-4">
                        {% if healthcare_provider.profile_img_url %}
                        <img src="{{ healthcare_provider.profile_img_url }}" class="card-img-top img-thumbnail rounded-circle" alt="Profile_of_{{ healthcare_provider.name }}" style="width:120px;">
                        {% else %}
                        <div class="circle-xl" style="height:120px !important; width:120px !important;">{{ healthcare_provider.name[4] }}</div>
                        {% endif %}
                        <div class="card-body">
                          <h5 class="card-title">{{ healthcare_provider.name.title() }}</h5>
                          {% if healthcare_provider.user_raw[0] is defined %}
                            <p class="card-text p-3">{{ healthcare_provider.user_raw[0].designation }}</p>
                            <p class="card-text p-3">{{ healthcare_provider.user_raw[0].address }}</p>
                            {% else %}
                            <p class="card-text p-3">Designation: -</p>
                            <p class="card-text p-3">Address: -</p>
                          {% endif %}
                          <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('get_one_healthcare_provider', user_id=healthcare_provider.user_id )}}'">
                            <i class="bi bi-person-circle me-1"></i>Profile
                          </button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
      </div>
      {% endblock content %}
    </section>
  </main>

</body>
</html>
