<!-- This section shows all healthcare providers -->

{% extends 'layouts/base.html' %}

{% block title %} Healthcare Providers {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Something hereeee -->
<div class="container pb-5">
    <div class="row">
      <div class="col-lg-9 col-10">
          <h1 class="pt-3 pl-4">Healthcare Providers</h1>
      </div>
      <div class="col-lg-10 col-2">{% include 'includes/sidenav-toggler.html' %}</div>
      </div>
          <div clss="card">
              <div class="pl-3">
                  <form action="/users/{{ current_user.user_id }}" method="post">
                    <div>
                    </div>
                      <div class="mb-3">

                        <div class="row">
                            {% for healthcare_provider in healthcare_providers %}
                                <div class="col-lg-3 text-center">
                                    <!-- Card with an image on top -->
                                    <div class="card align-items-center pt-4">
                                        <img src="{{ healthcare_provider.profile_img_url }}" class="card-img-top img-thumbnail rounded-circle" alt="Profile_of_{{ healthcare_provider.name }}" style="width:120px;">
                                        <div class="card-body">
                                        <h5 class="card-title">{{ healthcare_provider.name.title() }}</h5>
                                        {% if healthcare_provider.user_raw is defined %}
                                            <p class="card-text p--3">{{ healthcare_provider.user_raw[0].designation}}</p>
                                            <p class="card-text p--3">{{ healthcare_provider.user_raw[0].address}}</p>
                                        {% endif %}
                                        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('get_one_healthcare_provider', user_id=healthcare_provider.user_id )}}'"><i class="bi bi-person-circle me-1"></i>Profile</button>   
                                        <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-chat-left me-1" href="/settings"></i>Message</button>   
                                    </div>
                                    </div><!-- End Card with an image on top -->
                                </div>
                                {% endfor %}
                        </div>
                        </div>
                    </form>
              </div>
          </div>
          <br>
  
    {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}