{% extends 'layouts/base.html' %}  

{% block title %} LUMI Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->

  {% block stylesheets %}
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  {% endblock stylesheets %}

  {% block content %}

  {% block styles %}{% endblock styles %}
  <main id="main" class="main">

    <div class="pagetitle mt-1">
      <h1 class="mb-0">Health Overview</h1>
      <div class="pagetitle-time">
        <h6 class="mb-0">{{current_datetime.strftime('%B %d, %Y')}}</h6>
      </div>
    </div>
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

<!-- Blood Sugar Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/bloodsugardevice.png') }}" alt="" style="background-color: rgb(244, 207, 166); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Blood&nbsp;Sugar</h5>


            <div class="ps-3 mt-3">
                {% if records_glucose_monitoring["value"][0] != undefined %}
                <h6 class="mb-0">{{ records_glucose_monitoring["value"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;">mg / dL</span></h6>
                <!-- <span class="text-success small pt-1 fw-bold bs-normal" style="display: inline-block; background-color: rgb(244, 207, 166); padding: 5px 10px; margin-top: 10px;">Normal</span> -->
                    {% if records_glucose_monitoring["value"][0] >16 %}
                        <span class="badge text-bg-danger">High Critical</span>
                    {% elif records_glucose_monitoring["value"][0] < 3 %}
                    <span class="badge text-bg-danger">Low Critical</span>
                    {% else %}
                    <span class="badge text-bg-light">Normal</span>
                    {% endif %}
                {% else %}
                <p class="text-muted">Please upload glucose data.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End Blood Sugar Card -->

<!-- hba1c Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/heartrate.png') }}" alt="" style="background-color: rgb(249, 226, 234); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Hba1c&nbsp;Level</h5>


            <div class="ps-3 mt-3">
                {% if records_hba1c["value"][0] != undefined %}
                <h6 class="mb-0">{{ records_hba1c["value"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;"></span></h6>
                    {% if records_hba1c["value"][0] >6.5 %}
                        <span class="badge text-bg-danger">Diabetes</span>
                    {% elif records_hba1c["value"][0] > 5.7 %}
                    <span class="badge text-bg-danger">Prediabetes</span>
                    {% else %}
                    <span class="badge text-bg-light">Normal</span>
                    {% endif %}
                {% else %}
                <p class="text-muted">Please upload Hba1C data.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End hba1c Card -->
<!-- hba1c Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/heartrate.png') }}" alt="" style="background-color: rgb(249, 226, 234); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Cholesterol&nbsp;Level</h5>


            <div class="ps-3 mt-3">
                {% if records_cholesterol["value"][0] != undefined %}
                <h6 class="mb-0">{{ records_cholesterol["value"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;"></span></h6>
                    {% if records_cholesterol["value"][0] >240 %}
                        <span class="badge text-bg-danger">High</span>
                    {% elif records_cholesterol["value"][0] > 200 %}
                    <span class="badge text-bg-danger">Borderline High</span>
                    {% else %}
                    <span class="badge text-bg-light">Normal</span>
                    {% endif %}
                {% else %}
                <p class="text-muted">Please upload Hba1C data.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End hba1c Card -->
<!-- bp Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/bloodpressure.png') }}" alt="" style="background-color: rgb(249, 226, 234); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Blood&nbsp;Pressure</h5>


            <div class="ps-1 mt-1">
                {% if records_blood_pressure["value_systolic"][0] != undefined %}
                    <h6 class="mb-0">{{ records_blood_pressure["value_systolic"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;">/ {{ records_blood_pressure["value_diastolic"][0] }} &nbsp;&nbsp;mmHg</h6>
                        {% set systolic = records_blood_pressure["value_systolic"][0] %}
                        {% set diastolic = records_blood_pressure["value_diastolic"][0] %}
                        <!-- Determine if Hypertension -->
                        {% if systolic > 130 or diastolic > 80 %}
                            <span class="badge text-bg-danger">Danger</span>
                        {% elif systolic > 120 and diastolic < 80 %}
                            <span class="badge text-bg-danger">Elevated</span>
                        {% else %}
                            <span class="badge text-bg-light">Normal</span>
                        {% endif %}
                {% else %}
                <p class="text-muted">Please upload Blood Pressure data.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End bp Card -->


        <!-- Diagnostic Analysis Chart-->
        <div class="col-12 diagnostic-chart-card">
          <div class="card">    
              <div class="card-body">
                  <h5 class="card-title">Diagnostic Analysis</h5>

                  <!-- Nav Tabs -->
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="cholesterol-tab" data-bs-toggle="tab" data-bs-target="#cholesterol" type="button" role="tab" aria-controls="cholesterol" aria-selected="true">Cholesterol</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="glucose-tab" data-bs-toggle="tab" data-bs-target="#glucose" type="button" role="tab" aria-controls="glucose" aria-selected="false">Glucose</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="hba1c-tab" data-bs-toggle="tab" data-bs-target="#hba1c" type="button" role="tab" aria-controls="hba1c" aria-selected="false">HbA1c</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="blood-pressure-tab" data-bs-toggle="tab" data-bs-target="#blood-pressure" type="button" role="tab" aria-controls="blood-pressure" aria-selected="false">Blood Pressure</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="weight-tab" data-bs-toggle="tab" data-bs-target="#weight" type="button" role="tab" aria-controls="weight" aria-selected="false">Weight</button>
                      </li>
                  </ul>

                  <!-- Tab Content -->
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="cholesterol" role="tabpanel" aria-labelledby="cholesterol-tab">
                          <div id="cholesterolChart"></div>
                      </div>
                      <div class="tab-pane fade" id="glucose" role="tabpanel" aria-labelledby="glucose-tab">
                          <div id="glucoseChart"></div>
                      </div>
                      <div class="tab-pane fade" id="hba1c" role="tabpanel" aria-labelledby="hba1c-tab">
                          <div id="hba1cChart"></div>
                      </div>
                      <div class="tab-pane fade" id="blood-pressure" role="tabpanel" aria-labelledby="blood-pressure-tab">
                          <div id="bloodPressureChart"></div>
                      </div>
                      <div class="tab-pane fade" id="weight" role="tabpanel" aria-labelledby="weight-tab">
                          <div id="lineChartWeightTracking"></div>
                      </div>
                  </div>

                  <script>
                      var options = {
                        series: [{
                        name: 'Cholesterol Level',
                        data: {{records_cholesterol["value"] | tojson}}
                        }],
                        chart: {
                        type: 'area',
                        stacked: false,
                        height: 350,
                        zoom: {
                            type: 'x',
                            enabled: true,
                            autoScaleYaxis: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        }
                        },
                        dataLabels: {
                        enabled: false
                        },
                        markers: {
                        size: 0,
                        },
                        title: {
                        text: 'Cholesterol Levels',
                        align: 'left'
                        },
                        fill: {
                        type: 'gradient',
                        gradient: {
                            shadeIntensity: 1,
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 90, 100]
                        },
                        },
                        yaxis: {

                        title: {
                            text: 'Cholesterol level'
                        },
                        },
                        xaxis: {
                        type: 'datetime',
                        categories: {{records_cholesterol["timestamp"] | tojson}} 
                        },
                        tooltip: {
                        shared: false,
                        }
                        };

                        var chart = new ApexCharts(document.querySelector("#cholesterolChart"), options);
                        chart.render();
                        // End of cholesterol chart

                        // Start of cgm chart
                        var options = {
                        series: [{
                        name: 'Glucose Level',
                        data: {{records_glucose_monitoring["value"] | tojson}}
                        }],
                        chart: {
                        type: 'area',
                        stacked: false,
                        height: 350,
                        zoom: {
                            type: 'x',
                            enabled: true,
                            autoScaleYaxis: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        }
                        },
                        dataLabels: {
                        enabled: false
                        },
                        markers: {
                        size: 0,
                        },
                        title: {
                        text: 'Blood Glucose Levels',
                        align: 'left'
                        },
                        fill: {
                        type: 'gradient',
                        gradient: {
                            shadeIntensity: 1,
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 90, 100]
                        },
                        },
                        yaxis: {

                        title: {
                            text: 'Glucose level'
                        },
                        },
                        xaxis: {
                        type: 'datetime',
                        categories: {{records_glucose_monitoring["timestamp"] | tojson}} 
                        },
                        tooltip: {
                        shared: false,
                        }
                        };

                        var chart = new ApexCharts(document.querySelector("#glucoseChart"), options);
                        chart.render();
                        // end of CGM chart

                        // start of hba1c chart
                        var options = {
                        series: [{
                        name: 'HbA1c Level',
                        data: {{records_hba1c["value"] | tojson}}
                        }],
                        chart: {
                        type: 'area',
                        stacked: false,
                        height: 350,
                        zoom: {
                            type: 'x',
                            enabled: true,
                            autoScaleYaxis: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        }
                        },
                        dataLabels: {
                        enabled: false
                        },
                        markers: {
                        size: 0,
                        },
                        title: {
                        text: 'HbA1c Levels',
                        align: 'left'
                        },
                        fill: {
                        type: 'gradient',
                        gradient: {
                            shadeIntensity: 1,
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 90, 100]
                        },
                        },
                        yaxis: {

                        title: {
                            text: 'HbA1c level'
                        },
                        },
                        xaxis: {
                        type: 'datetime',
                        categories: {{records_hba1c["timestamp"] | tojson}} 
                        },
                        tooltip: {
                        shared: false,
                        }
                        };

                        var chart = new ApexCharts(document.querySelector("#hba1cChart"), options);
                        chart.render();
                        // end of hba1c chart
                        // start of weight chart
                        var options = {
                    series: [{
                    name: 'Body Weight (kg)',
                    data: {{records_weight_tracking["value"] | tojson}}
                    }],
                    chart: {
                    type: 'area',
                    stacked: false,
                    height: 350,
                    zoom: {
                        type: 'x',
                        enabled: true,
                        autoScaleYaxis: true
                    },
                    toolbar: {
                        autoSelected: 'zoom'
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    markers: {
                    size: 0,
                    },
                    title: {
                    text: 'Body Weight',
                    align: 'left'
                    },
                    fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    },
                    },
                    yaxis: {

                    title: {
                        text: 'Body Weight (kg)'
                    },
                    },
                    xaxis: {
                    type: 'datetime',
                    categories: {{records_weight_tracking["timestamp"] | tojson}} 
                    },
                    tooltip: {
                    shared: false,
                    }
                    };

                    var chart = new ApexCharts(document.querySelector("#lineChartWeightTracking"), options);
                    chart.render();
                        // end of weight chart
                        // start of bp chart
                        var options = {
                    series: [{
                    name: 'Systolic',
                    data: {{records_blood_pressure["value_systolic"]}}
                    },{
                    name: 'Diastolic',
                    data: {{records_blood_pressure["value_diastolic"]}}
                    }],
                    chart: {
                    type: 'area',
                    stacked: false,
                    height: 350,
                    zoom: {
                        type: 'x',
                        enabled: true,
                        autoScaleYaxis: true
                    },
                    toolbar: {
                        autoSelected: 'zoom'
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    markers: {
                    size: 0,
                    },
                    title: {
                    text: 'Blood Pressure',
                    align: 'left'
                    },
                    fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    },
                    },
                    yaxis: {

                    title: {
                        text: 'Blood Pressure'
                    },
                    },
                    xaxis: {
                    type: 'datetime',
                    categories: {{records_blood_pressure["timestamp"] | tojson}} 
                    },
                    tooltip: {
                    shared: false,
                    }
                    };

                    var chart = new ApexCharts(document.querySelector("#bloodPressureChart"), options);
                    chart.render();
                        // end of bp chart
                  </script>
              </div>
          </div>
        </div>
        <!-- End Diagnostic Analysis Chart-->

        <!-- KG -->
        <div class="container">
            <div class="card">
                <h3 class="h3 pt-3 pl-4">Recent Glucose Spike</h3>
                <div id="mynetwork"></div>
            </div>
        </div>
        <script>
            // Example record data extracted from your description
            const graphData = [
              { nodeId: {{kg_data["nodeId"] }} , label: '{{kg_data["label"] }}', user_id: '{{kg_data["user_id"] }}', 
              glucoseData: [
                {% for row in kg_data["glucoseData"] %}
                  { recordId: '{{ row["timestamp"] }}', glucose_level: {{ row["glucose_level"] }}, timestamp: '{{ row["timestamp"] }}' },
                {% endfor %}
              ],
              foodintakeData: [
                {% for row in kg_data["foodintakeData"] %}
                  { recordId: '{{ row["timestamp"] }}', food_items: '{{ row["food_items"] }}', timestamp: '{{ row["timestamp"] }}', value: '{{row["value"]}}' },
                {% endfor %}
              ],
            
            }
            ];
            
          // create an array with nodes
              var nodes = new vis.DataSet();

              // create an array with edges
              var edges = new vis.DataSet();

              // Adding nodes and edges from the provided graph data
              graphData.forEach(data => {
                nodes.add({ id: data.nodeId, label: data.label, title: `${data.user_id}`, color: "#203468" });

                data.glucoseData.forEach(record => {
                  const recordNodeId = `${data.nodeId}-${record.recordId}`;
                  nodes.add({ id: recordNodeId, label: `cgm: ${record.glucose_level}`, title: `${record.timestamp}`, value:record.glucose_level  });
                  edges.add({ from: data.nodeId, to: recordNodeId});
                });
                data.foodintakeData.forEach(record => {
                  const recordNodeId = `${data.nodeId}-${record.recordId}`;
                  nodes.add({ id: recordNodeId, label: `food: ${record.food_items}`, title: `${record.timestamp}`, color: "#FB7E81" });
                  edges.add({ from: data.nodeId, to: recordNodeId, value:record.value+70  });
                });
              });

              // create a network
              var container = document.getElementById("mynetwork");
              var data = {
                nodes: nodes,
                edges: edges
              };
              var options = {
                  nodes: {
                    shape: "dot",

                  },
                };
              var network = new vis.Network(container, data, options);

              window.addEventListener("load", () => {
                  draw();
                });

        </script>

        <!-- End of KG -->

        <!-- Consultation Image Card -->
        <!-- <div class="card consultation-card shadow-sm border-0">
          <div class="card-body">
            <img src="{{ url_for('static', filename='public2/consultation.png') }}" alt="">

          </div>
        </div> -->
        <!-- Consultation Image Card -->
      
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

        <!-- Patient Info Card -->
        <div class="card patient-card shadow-sm border-0">
          <div class="card-body pb-0">
            <div class="smaller-font">
              <h3 class="card-title"><strong>User Info</strong></h3>
              <div class="pb-3 flex-fill">
                  <table class="table table-sm" >
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <td>Birthday:</td>
                            <td>{{ user.birthday }}</td>
                        </tr>
                        <tr>
                            <td>Age:</td>
                            <td>{{ age }}</td>
                        </tr>
                        <tr>
                            <td>Gender:</td>
                            <td>{{ user.gender }}</td>
                        </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div><!-- End Patient Info Card -->

        <!-- BMI Calculator Card -->
        <div class="container">
          <div class="row">
              <h5><strong>BMI Calculator</strong></h5>
              <div class="col-md-6 mb-4">
                  <div class="card height-card">
                      <div class="card-body">
                          <h5 class="card-title">Height</h5>
                          <div class="height-container">
                              <div class="height-value" id="heightValue">{{ user.height }} cm</div>
                              <div class="height-scale">
                                  <div class="height-indicator" id="heightIndicator"></div>
                                  <div class="height-numbers">
                                      <span>150</span>
                                      <span>175</span>
                                      <span>195</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-6 mb-4">
                  <h5 class="general-info"><strong>General Info</strong></h5>
                  <div class="card bmi-card">
                      <div class="card-body">
                          <h5 class="card-title">Body&nbsp;Mass&nbsp;Index</h5>
                          <div class="bmi-container">
                              <div class="bmi-value" id="bmiValue"></div>
                              <div class="bmi-status" id="bmiStatus"></div>
                          </div>
                          <div class="bmi-scale">
                              <div class="bmi-indicator" id="bmiIndicator"></div>
                              <div class="bmi-numbers">
                                  <span>15</span>
                                  <span>18</span>
                                  <span>22.86</span>
                                  <span>28</span>
                                  <span>30</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 mb-4">
                  <div class="card weight-card">
                      <div class="card-body">
                          <h5 class="card-title">Weight</h5>
                          <div class="weight-container">
                              <div class="weight-value" id="weightValue">{{ records_weight_tracking["value"][0] }} kg</div>
                              <div class="weight-scale">
                                  <div class="weight-indicator" id="weightIndicator"></div>
                                  <div class="weight-numbers">
                                      <span>50</span>
                                      <span>70</span>
                                      <span>90</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <script>
        function setIndicator(indicatorId, value, minValue, maxValue) {
          const indicator = document.getElementById(indicatorId);
          
          // Calculate position as a percentage of the range
          const positionPercentage = ((value - minValue) / (maxValue - minValue)) * 100;
          
          // Set the left position of the indicator
          indicator.style.left = `${positionPercentage}%`;
        }

        function calculateBMI(height, weight) {
          // Height in meters
          const heightInMeters = height / 100;
          return (weight / (heightInMeters * heightInMeters)).toFixed(2);
        }

        function getBMIStatus(bmi) {
          if (bmi < 18.5) return 'Underweight';
          if (bmi < 24.9) return 'Healthy';
          if (bmi < 29.9) return 'Overweight';
          if (bmi > 30) return 'Obese';
          return 'No Data';
        }

        document.addEventListener("DOMContentLoaded", function() {
          // Get height and weight from the DOM
          const height = parseFloat(document.getElementById('heightValue').textContent);
          const weight = parseFloat(document.getElementById('weightValue').textContent);

          // Set the height and weight indicators
          setIndicator('heightIndicator', height, 150, 195);
          setIndicator('weightIndicator', weight, 50, 90);

          // Calculate BMI and update the DOM
          const bmi = calculateBMI(height, weight);
          document.getElementById('bmiValue').textContent = bmi;
          document.getElementById('bmiStatus').textContent = getBMIStatus(bmi);
          setIndicator('bmiIndicator', parseFloat(bmi), 15, 30);
        });
        </script>
        <!-- End BMI Calculator Card -->

        <!-- Latest AI Generated Recommendations Card -->
        <div class="card latest-ai-card">
          <div class="card-body">
            <span class="card-title">
                {% if patient_notification_one.notification_content != undefined %}
              <p class="smaller-font">{{ patient_notification_one.notification_content }}</p>
              {% elif user.user_id == current_user.user_id %}
              <p class="smaller-font">{{ user_notifications[0].notification_content}}</p>
              {% else %}
              <p class="smaller-font">No insights generated.</p>
              {% endif %}
            </span>
          </div>
        </div><!-- End Latest AI Generated Recommendations Card -->

        <!-- Meal Logs Card -->
        <div class="card meal-logs-card">
          <div class="meal-card-body pt-4 pl-4">
            <h5 class="h5">Meal Logs</h5>
              {% if records_food_intake[0] != undefined %}
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th style="padding-right:0px;">Food Items</th>
                    <th style="padding-left:0px; padding-right:0px;">Carbohydrates</th>
                  </tr>
                </thead>
              <tbody>
                {% for record in records_food_intake %}
                  {% if loop.index0 < 5 %}
                  <tr>
                    <td style="padding-right:0px;">{{ record.food_items }}<br>
                        <span>{{ record.timestamp.strftime('%Y-%m-%d') }}</span>
                    </td>
                    <td style="padding-left:0px; padding-right:0px;">{{ record.carbohydrates }}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
            </table>
                {% else %}
                <p class="smaller-font">Please upload meal logs.</p>
                {% endif %}
          </div>
        </div><!-- End Meal Logs Card -->
        
        </div><!-- End Right side columns -->

      </div>
    </section>
  </main><!-- End #main -->

{% endblock content %}