{% extends 'layouts/base.html' %}  

{% block title %} LUMI Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->

  {% block stylesheets %}
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  {% endblock stylesheets %}

  {% block content %}

  {% block styles %}{% endblock styles %}
  <main id="main" class="main">

    <div class="pagetitle mt-1">
      <h1 class="mb-0">Health Overview</h1>
      <div class="pagetitle-time">
        <h6 class="mb-0">May 25, 2024</h6>
      </div>
    </div>
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

<!-- Blood Sugar Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/bloodsugardevice.png') }}" alt="" style="background-color: rgb(244, 207, 166); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Blood&nbsp;Sugar</h5>


            <div class="ps-3 mt-3">
                <h6 class="mb-0">{{ records_glucose_monitoring["value"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;">mg / dL</span></h6>
                <span class="text-success small pt-1 fw-bold bs-normal" style="display: inline-block; background-color: rgb(244, 207, 166); padding: 5px 10px; margin-top: 10px;">Normal</span>
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End Blood Sugar Card -->

<!-- hba1c Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/heartrate.png') }}" alt="" style="background-color: rgb(249, 226, 234); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Hba1c&nbsp;Level</h5>


            <div class="ps-3 mt-3">
                <h6 class="mb-0">{{ records_hba1c["value"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;"></span></h6>
                <span class="text-success small pt-1 fw-bold bs-normal" style="display: inline-block; background-color: rgb(244, 207, 166); padding: 5px 10px; margin-top: 10px;">Normal</span>
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End hba1c Card -->
<!-- hba1c Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/heartrate.png') }}" alt="" style="background-color: rgb(249, 226, 234); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Hba1c&nbsp;Level</h5>


            <div class="ps-3 mt-3">
                <h6 class="mb-0">{{ records_hba1c["value"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;"></span></h6>
                <span class="text-success small pt-1 fw-bold bs-normal" style="display: inline-block; background-color: rgb(244, 207, 166); padding: 5px 10px; margin-top: 10px;">Normal</span>
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End hba1c Card -->
<!-- bp Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card blood-sugar-card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='public2/bloodpressure.png') }}" alt="" style="background-color: rgb(249, 226, 234); border-radius: 25%; width: 65px;">
                </div>
                <div class="ps-3">
                    <h5 class="card-title">Blood&nbsp;Pressure</h5>


            <div class="ps-1 mt-1">
                <h6 class="mb-0">{{ records_blood_pressure["value_systolic"][0] }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;">/ {{ records_blood_pressure["value_diastolic"][0] }} &nbsp;&nbsp;mmHg</h6>
                <span class="text-success small pt-1 fw-bold bs-normal" style="display: inline-block; background-color: rgb(244, 207, 166); padding: 5px 10px; margin-top: 10px;">Normal</span>
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- End bp Card -->


        <!-- Diagnostic Analysis Chart-->
        <div class="col-12 diagnostic-chart-card">
          <div class="card">    
              <div class="card-body">
                  <h5 class="card-title">Diagnostic Analysis</h5>

                  <!-- Nav Tabs -->
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="cholesterol-tab" data-bs-toggle="tab" data-bs-target="#cholesterol" type="button" role="tab" aria-controls="cholesterol" aria-selected="true">Cholesterol</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="glucose-tab" data-bs-toggle="tab" data-bs-target="#glucose" type="button" role="tab" aria-controls="glucose" aria-selected="false">Glucose</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="hba1c-tab" data-bs-toggle="tab" data-bs-target="#hba1c" type="button" role="tab" aria-controls="hba1c" aria-selected="false">HbA1c</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="blood-pressure-tab" data-bs-toggle="tab" data-bs-target="#blood-pressure" type="button" role="tab" aria-controls="blood-pressure" aria-selected="false">Blood Pressure</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="weight-tab" data-bs-toggle="tab" data-bs-target="#weight" type="button" role="tab" aria-controls="weight" aria-selected="false">Weight</button>
                      </li>
                  </ul>

                  <!-- Tab Content -->
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="cholesterol" role="tabpanel" aria-labelledby="cholesterol-tab">
                          <div id="cholesterolChart"></div>
                      </div>
                      <div class="tab-pane fade" id="glucose" role="tabpanel" aria-labelledby="glucose-tab">
                          <div id="glucoseChart"></div>
                      </div>
                      <div class="tab-pane fade" id="hba1c" role="tabpanel" aria-labelledby="hba1c-tab">
                          <div id="hba1cChart"></div>
                      </div>
                      <div class="tab-pane fade" id="blood-pressure" role="tabpanel" aria-labelledby="blood-pressure-tab">
                          <div id="bloodPressureChart"></div>
                      </div>
                      <div class="tab-pane fade" id="weight" role="tabpanel" aria-labelledby="weight-tab">
                          <div id="lineChartWeightTracking"></div>
                      </div>
                  </div>

                  <script>
                      document.addEventListener("DOMContentLoaded", () => {
                          const options = (name, data) => ({
                              series: [{
                                  name: name,
                                  data: data
                              }],
                              chart: {
                                  height: 350,
                                  type: 'area',
                                  toolbar: {
                                      show: false
                                  },
                              },
                              markers: {
                                  size: 4
                              },
                              colors: ['#4154f1'],
                              fill: {
                                  type: "gradient",
                                  gradient: {
                                      shadeIntensity: 1,
                                      opacityFrom: 0.3,
                                      opacityTo: 0.4,
                                      stops: [0, 90, 100]
                                  }
                              },
                              dataLabels: {
                                  enabled: false
                              },
                              stroke: {
                                  curve: 'smooth',
                                  width: 2
                              },
                              xaxis: {
                                  categories: ["Mar 01", "Mar 05", "Mar 10", "Mar 15", "Mar 20", "Mar 25", "Mar 30"]
                              },
                              tooltip: {
                                  x: {
                                      format: 'dd/MM'
                                  },
                              }
                          });

                          const cholesterolData = [200, 195, 210, 205, 190, 215, 200];
                          const glucoseData = [90, 85, 88, 92, 87, 89, 91];
                          const hba1cData = [5.6, 5.5, 5.7, 5.6, 5.4, 5.8, 5.6];
                          const bloodPressureData = [
                              {
                                  name: 'Systolic',
                                  data: [120, 115, 125, 120, 115, 125, 120]
                              },
                              {
                                  name: 'Diastolic',
                                  data: [80, 75, 85, 80, 75, 85, 80]
                              }
                          ];

                          new ApexCharts(document.querySelector("#cholesterolChart"), options('Cholesterol', cholesterolData)).render();
                          new ApexCharts(document.querySelector("#glucoseChart"), options('Glucose', glucoseData)).render();
                          new ApexCharts(document.querySelector("#hba1cChart"), options('HbA1c', hba1cData)).render();
                          new ApexCharts(document.querySelector("#bloodPressureChart"), options('Blood Pressure', bloodPressureData)).render();

                          const weightOptions = {
                              series: [{
                                  name: 'Body Weight (kg)',
                                  data: {{records_weight_tracking["value"] | tojson}}
                              }],
                              chart: {
                                  type: 'area',
                                  stacked: false,
                                  height: 350,
                                  zoom: {
                                      type: 'x',
                                      enabled: true,
                                      autoScaleYaxis: true
                                  },
                                  toolbar: {
                                      autoSelected: 'zoom'
                                  }
                              },
                              dataLabels: {
                                  enabled: false
                              },
                              markers: {
                                  size: 0,
                              },
                              title: {
                                  text: 'Body Weight',
                                  align: 'left'
                              },
                              fill: {
                                  type: 'gradient',
                                  gradient: {
                                      shadeIntensity: 1,
                                      inverseColors: false,
                                      opacityFrom: 0.5,
                                      opacityTo: 0,
                                      stops: [0, 90, 100]
                                  },
                              },
                              yaxis: {
                                  title: {
                                      text: 'Body Weight (kg)'
                                  },
                              },
                              xaxis: {
                                  type: 'datetime',
                                  categories: {{records_weight_tracking["timestamp"] | tojson}}
                              },
                              tooltip: {
                                  shared: false,
                              }
                          };

                          new ApexCharts(document.querySelector("#lineChartWeightTracking"), weightOptions).render();
                      });
                  </script>
              </div>
          </div>
        </div>
        <!-- End Diagnostic Analysis Chart-->

        <!-- Consultation Image Card -->
        <div class="card consultation-card shadow-sm border-0">
          <div class="card-body">
            <img src="{{ url_for('static', filename='public2/consultation.png') }}" alt="">

          </div>
        </div><!-- Consultation Image Card -->
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

        <!-- Patient Info Card -->
        <div class="card patient-card shadow-sm border-0">
          <div class="card-body pb-0">
            <div class="pl-4 smaller-font">
              <h3 class="card-title"><strong>Patient Information</strong></h3>
              <hr>
              <p class="card-text">Name: {{ user.name }}</p>
              <p class="card-text">Birthday: {{ user.birthday }}</p>
              <p class="card-text">Age: {{ age }}</p>
              <p class="card-text">Gender: {{ user.gender }}</p>
              <p class="card-text">Height: {{ user.height }}</p>
              <p class="card-text">Weight: {{ records_weight_tracking["value"][0] }} kg</p>
            </div>
          </div>
        </div><!-- End Patient Info Card -->

        <!-- BMI Calculator Card -->
        <div class="container">
          <div class="row">
              <h5><strong>BMI Calculator</strong></h5>
              <div class="col-md-6 mb-4">
                  <div class="card height-card">
                      <div class="card-body">
                          <h5 class="card-title">Height</h5>
                          <div class="height-container">
                              <div class="height-value" id="heightValue">{{ user.height }} cm</div>
                              <div class="height-scale">
                                  <div class="height-indicator" id="heightIndicator"></div>
                                  <div class="height-numbers">
                                      <span>150</span>
                                      <span>175</span>
                                      <span>195</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-6 mb-4">
                  <h5 class="general-info"><strong>General Info</strong></h5>
                  <div class="card bmi-card">
                      <div class="card-body">
                          <h5 class="card-title">Body&nbsp;Mass&nbsp;Index</h5>
                          <div class="bmi-container">
                              <div class="bmi-value" id="bmiValue"></div>
                              <div class="bmi-status" id="bmiStatus"></div>
                          </div>
                          <div class="bmi-scale">
                              <div class="bmi-indicator" id="bmiIndicator"></div>
                              <div class="bmi-numbers">
                                  <span>15</span>
                                  <span>18</span>
                                  <span>22.86</span>
                                  <span>28</span>
                                  <span>30</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 mb-4">
                  <div class="card weight-card">
                      <div class="card-body">
                          <h5 class="card-title">Weight</h5>
                          <div class="weight-container">
                              <div class="weight-value" id="weightValue">{{ records_weight_tracking["value"][0] }} kg</div>
                              <div class="weight-scale">
                                  <div class="weight-indicator" id="weightIndicator"></div>
                                  <div class="weight-numbers">
                                      <span>50</span>
                                      <span>70</span>
                                      <span>90</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <script>
        function setIndicator(indicatorId, value, minValue, maxValue) {
          const indicator = document.getElementById(indicatorId);
          
          // Calculate position as a percentage of the range
          const positionPercentage = ((value - minValue) / (maxValue - minValue)) * 100;
          
          // Set the left position of the indicator
          indicator.style.left = `${positionPercentage}%`;
        }

        function calculateBMI(height, weight) {
          // Height in meters
          const heightInMeters = height / 100;
          return (weight / (heightInMeters * heightInMeters)).toFixed(2);
        }

        function getBMIStatus(bmi) {
          if (bmi < 18.5) return 'Underweight';
          if (bmi < 24.9) return 'Healthy';
          if (bmi < 29.9) return 'Overweight';
          if (bmi > 30) return 'Obese';
          return 'No Data';
        }

        document.addEventListener("DOMContentLoaded", function() {
          // Get height and weight from the DOM
          const height = parseFloat(document.getElementById('heightValue').textContent);
          const weight = parseFloat(document.getElementById('weightValue').textContent);

          // Set the height and weight indicators
          setIndicator('heightIndicator', height, 150, 195);
          setIndicator('weightIndicator', weight, 50, 90);

          // Calculate BMI and update the DOM
          const bmi = calculateBMI(height, weight);
          document.getElementById('bmiValue').textContent = bmi;
          document.getElementById('bmiStatus').textContent = getBMIStatus(bmi);
          setIndicator('bmiIndicator', parseFloat(bmi), 15, 30);
        });
        </script>
        <!-- End BMI Calculator Card -->

        <!-- Latest AI Generated Recommendations Card -->
        <div class="card latest-ai-card">
          <div class="card-body">
            <span class="card-title">
              <p><strong>Latest AI Recommendations</strong></p>
              <p class="smaller-font">{{ user_notifications[0].notification_content}}</p>
            </span>
          </div>
        </div><!-- End Latest AI Generated Recommendations Card -->

        <!-- Meal Logs Card -->
        <div class="card meal-logs-card">
          <div class="meal-card-body p-0" style="flex: 1;">
            <table class="table">
              <thead>
                <tr>
                  <th>Food Items</th>
                  <th>Timestamp</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records_food_intake %}
                  {% if loop.index0 < 5 %}
                  <tr>
                    <td>{{ record.food_items }}</td>
                    <td>{{ record.timestamp }}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div><!-- End Meal Logs Card -->
        
        </div><!-- End Right side columns -->

      </div>
    </section>
  </main><!-- End #main -->

{% endblock content %}