
{% extends 'layouts/base.html' %}  

{% block title %} Overview {% endblock title %}

<head>
{% block content %}
{% block styles %}

{% endblock styles %}

</head>
<body>
  <main id="main" class="main">
    <div class="pagetitle mt">
      <h1 class="mb-0">Overview</h1>
      <div class="pagetitle-time">
        <h6 class="mb-0">May 25, 2024</h6>
      </div>
    </div>
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

          <!-- Number of Patient Cards -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card no_patients blood-sugar-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person" style="background-color: rgb(244, 207, 166); border-radius: 25%; font-size: 32px;"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="card-title">Patients</h5>
                        </div>
                    </div>
                    <div class="ps-3 mt-3">
                        <h6 class="mb-0">{{ active_user_count }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;">Total</span></h6>
                    </div>
                </div>
            </div>
          </div><!-- End Number of patients Card -->
          <!-- Number of Active Patient Cards -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card no_patients blood-sugar-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person" style="background-color: rgb(244, 207, 166); border-radius: 25%; font-size: 32px;"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="card-title">Active Patients</h5>
                        </div>
                    </div>
                    <div class="ps-3 mt-3">
                        <h6 class="mb-0">{{ user_count }}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;">Total</span></h6>
                    </div>
                </div>
            </div>
          </div><!-- End Number of patients Card -->

          <!-- Number of Doctors Cards -->

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card no_doctors blood-sugar-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person" style="background-color: rgb(244, 207, 166); border-radius: 25%; font-size: 32px;"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="card-title">Doctors</h5>
                        </div>
                    </div>
                    <div class="ps-3 mt-3">
                        <h6 class="mb-0">50&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;">Total</span></h6>
                    </div>
                </div>
            </div>
          </div>

          <!-- Patient with glucose spikes Cards -->

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card glucose_spike blood-sugar-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-graph-up" style="background-color: rgb(244, 207, 166); border-radius: 25%; font-size: 32px;"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="card-title">Average&nbsp;Glucose</h5>
                        </div>
                    </div>
                    <div class="ps-3 mt-3">
                        <h6 class="mb-0">{{avg_glucose_levels}}&nbsp;&nbsp;&nbsp;<span style="color: #899bbd; font-size: 14px; font-weight: 400;"> mmol/L</span></h6>
                    </div>
                </div>
            </div>
          </div>


          <!-- Diagnostic Analysis Chart-->
          <div class="col-12 diagnostic-chart-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Diagnostic Analysis for Glucose levels</h5>

                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="glucose-tab" data-bs-toggle="tab" data-bs-target="#glucose" type="button" role="tab" aria-controls="glucose" aria-selected="true">Glucose</button>
                        </li>
                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="glucose" role="tabpanel" aria-labelledby="glucose-tab">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- End Diagnostic Analysis Chart-->

          <script>
            
            document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#barChart'), {
                              type: 'bar',
                              data: {
                                labels: {{ data_glucose_hist["label"] | tojson }},
                                datasets: [{
                                  label: 'Glucose Level',
                                  data: {{ data_glucose_hist["data"] | tojson }},
                                  backgroundColor: '#203468' ,
                                  borderColor: '#203468',
                                  borderWidth: 1
                                }]
                              },
                              options: {
                                scales: {
                                  y: {
                                    // beginAtZero: true
                                    min:0
                                  }
                                },
                              }
                            });
                          });
          </script>
          
          <!-- Diagnostic Analysis Chart for BMI and HbA1c -->
          <div class="col-12 diagnostic-chart-card">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Diagnostic Analysis for BMI and Hb1Ac levels</h5>

                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="bmi-tab" data-bs-toggle="tab" data-bs-target="#bmi" type="button" role="tab" aria-controls="bmi" aria-selected="true">BMI</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="hba1c-tab" data-bs-toggle="tab" data-bs-target="#hba1c" type="button" role="tab" aria-controls="hba1c" aria-selected="false">HbA1c</button>
                        </li>
                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="bmi" role="tabpanel" aria-labelledby="bmi-tab">
                          <canvas id="bmi-canvas"></canvas>
                            <div id="diagnosticChart">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="hba1c" role="tabpanel" aria-labelledby="hba1c-tab">
                          <canvas id="hba1c-canvas"></canvas>
                            <div id="diagnosticChartHbA1c">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- End Diagnostic Analysis Chart -->

          <script>
            document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#bmi-canvas'), {
                              type: 'bar',
                              data: {
                                labels: {{ data_bmi_hist["label"] | tojson }},
                                datasets: [{
                                  label: 'BMI',
                                  data: {{ data_bmi_hist["data"] | tojson }},
                                  backgroundColor: '#203468' ,
                                  borderColor: '#203468',
                                  borderWidth: 1
                                }]
                              },
                              options: {
                                scales: {
                                  y: {
                                    // beginAtZero: true
                                    min:0
                                  }
                                },
                              }
                            });
                          });

                          document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#hba1c-canvas'), {
                              type: 'bar',
                              data: {
                                labels: {{ data_hba1c_hist["label"] | tojson }},
                                datasets: [{
                                  label: 'Hba1c',
                                  data: {{ data_hba1c_hist["data"] | tojson }},
                                  backgroundColor: '#203468' ,
                                  borderColor: '#203468',
                                  borderWidth: 1
                                }]
                              },
                              options: {
                                scales: {
                                  y: {
                                    // beginAtZero: true
                                    min:0
                                  }
                                },
                              }
                            });
                          });

                document.addEventListener("DOMContentLoaded", () => {
                // Handle tab click events to toggle between BMI and HbA1c charts
                const tabBMI = document.querySelector("#bmi-tab");
                const tabHbA1c = document.querySelector("#hba1c-tab");

                tabBMI.addEventListener("click", function() {
                    chartBMI.updateOptions(optionsBMI);
                    chartHbA1c.hide();
                    chartBMI.show();
                });

                tabHbA1c.addEventListener("click", function() {
                    chartHbA1c.updateOptions(optionsHbA1c);
                    chartBMI.hide();
                    chartHbA1c.show();
                });
            });
          </script>
          <!--End chart-->
      

    
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

        <!-- High Critical card -->

          <div class="card patient-card shadow-sm border-0">
            <div class="card-body pb-0">
                <div class="pl-2 smaller-font">
                  <h3 class="card-title"><strong>High Critical</strong> <span class="badge bg-danger text-white">High</span></h3>
                    <div class="">
                      {% for row in patient_record_high %}
                      <div class="container text-left">
                        <div class="row">
                          <div class="col-3">
                            {% if row.data_cgm.profile_img_url %}
                          <img src="{{ current_user.profile_img_url }}" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px; width: 40px;">
                          {% else %}
                          <img src="https://phms-80029.s3.amazonaws.com/17.jpg" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px; width: 40px;">
                          {% endif %}
                          </div>
                          <div class="col-5">
                            <p>{{ row.data_cgm.name }}</p>
                          </div>
                          <div class="col-4 text-right text-sm">
                            <span class="glucose-level">{{ row.glucose_level }} mmol/L</span>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      </div>
                </div>
            </div>
        </div>
        <!-- End High Critical card -->
        <!-- Low Critical card -->

          <div class="card patient-card shadow-sm border-0">
            <div class="card-body pb-0">
                <div class="pl-2 smaller-font">
                  <h3 class="card-title"><strong>Low Critical</strong> <span class="badge bg-danger text-white">Low</span></h3>
                    <div class="">
                      {% for row in patient_record_low %}
                      <div class="container text-left">
                        <div class="row">
                          <div class="col-3">
                            {% if row.data_cgm.profile_img_url %}
                          <img src="{{ current_user.profile_img_url }}" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px; width: 40px;">
                          {% else %}
                          <img src="https://phms-80029.s3.amazonaws.com/17.jpg" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px; width: 40px;">
                          {% endif %}
                          </div>
                          <div class="col-5">
                            <p>{{ row.data_cgm.name }}</p>
                          </div>
                          <div class="col-4 text-right text-sm">
                            <span class="glucose-level">{{ row.glucose_level }} mmol/L</span>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      </div>
                </div>
            </div>
        </div>
        <!-- End Low Critical card -->

          
        </div><!-- End Right side columns -->
        

      </div>
      {% endblock content %}


    </section>

  </main><!-- End #main -->


<!-- Something hereeee -->
<div class="container pb-5">
    <div class="row">
      <div class="col-lg-9 col-10">
          <h1 class="p-3">Settings</h1>
      </div>
      </div>
          <div clss="card">
              <div class="text-left">
                <div class="col-lg-12">
                  {% for row in patient_record_low %}
                  <p>{{ row.glucose_level }}</p>
                  <p>{{ row.data_cgm.name }}</p>
                  {% if row.data_cgm.profile_img_url %}
                  <img src="{{ current_user.profile_img_url }}" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px;">
                  {% else %}
                  <img src="https://phms-80029.s3.amazonaws.com/17.jpg" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px;">
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="col-lg-12">
                  {% for row in patient_record_high %}
                  <p>{{ row.glucose_level }}</p>
                  <p>{{ row.data_cgm.name }}</p>
                  {% if row.data_cgm.profile_img_url %}
                  <img src="{{ current_user.profile_img_url }}" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px;">
                  {% else %}
                  <img src="https://phms-80029.s3.amazonaws.com/17.jpg" alt="Profile" class="rounded-circle img-thumbnail" style="height:40px;">
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Bar CHart</h5>
                        <!-- Bar Chart -->
                        
                        <script>
                          
                        </script>
                        <!-- End Bar CHart -->
          
                      </div>
                    </div>
                  </div>
                


