{% extends 'layouts/base.html' %}

{% block title %} Glucose Monitoring Records {% endblock title %}
<!-- Specific script goes HERE -->
{% block script %} 
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock script %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
{% endblock stylesheets %}

{% block content %}
<div class="container text-center pl-5">
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-body">
                  <h5 class="card-title">Glucose Monitoring Records</h5>
                  {% include'includes/error_handler.html' %}
    
                  <!-- Table with stripped rows -->
                  <table class="display text-sm" id="myTable">
                    <thead>
                      <tr>
                        <th><b>Timestamp</b></th>
                        <th>Glucose Level</th>
                        <th>Device ID</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for record in records %}
                      <tr>
                        <td>{{ record.timestamp }}</td>
                        <td>{{ record.glucose_level }}</td>
                        <td>{{ record.device_id }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
 
      </div>
    </div>
  </div>
  </div>
  </div>

    {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% include 'includes/datatable_script.html' %}
{% endblock javascripts %}