
  <div class="pt-3 pb-1 px-5 justify-content-end d-flex">

        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <button class="navbar-toggler" type="button" onclick="sidenavToggler()">
          <!-- <a href="javascript:;" class="nav-link text-white p-0" id="navbarToggleExternalContent"> -->
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-primary"></i>
              <i class="sidenav-toggler-line bg-primary"></i>
              <i class="sidenav-toggler-line bg-primary"></i>
            </div>
          </button>
          </a>
        </li>

  </div>
