
  <div class="pt-3 pb-1 pr-3 justify-content-end d-flex">

        <li class="nav-item  ps-3 d-flex align-items-center">
          <button class="navbar-toggler" type="button" onclick="sidenavToggler()" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4 multiCollapseExample5 multiCollapseExample6 multiCollapseExample7 multiCollapseExample8">
          <!-- <a href="javascript:;" class="nav-link text-white p-0" id="navbarToggleExternalContent"> -->
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-primary"></i>
              <i class="sidenav-toggler-line bg-primary"></i>
              <i class="sidenav-toggler-line bg-primary"></i>
            </div>
          </button>
          </a>
        </li>

  </div>
