{% extends 'layouts/base.html' %}

{% block title %} Access Logs {% endblock title %}
<!-- Specific script goes HERE -->
{% block script %} 
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock script %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
{% block styles%}
.card-title{
  margin-top: 20px
}
{% endblock styles%}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-body">
                  <h5 class="card-title">Access Logs</h5>
    
                  <!-- Table with stripped rows -->
                  <table class="display text-sm" id="myTable">
                    <thead>
                      <tr>
                        <th data-type="date" data-format="YYYY/DD/MM"><b>Created Time</b></th>
                        <th>IP</th>
                        <th>Verb</th>
                        <th>User</th>
                        <th>Permission</th>
                        <th class="text-right">What</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for access_log in access_logs %}
                      <tr>
                        <td>{{ access_log.created_time }}</td>
                        <td>{{ access_log.ip | replace("ImmutableList", "") | replace("[","") | replace("]","") | replace("'", "") }}</td>
                        <td>{{ access_log.verb }}</td>
                        <td>{{ access_log.user_access.name }}</td>
                        <td>{{ access_log.user_access.permission }}</td>
                        <td class="text-right">{{ access_log.what }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
 
      </div>
    </div>
  </div>
  </div>
  </div>

    {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% include 'includes/datatable_script.html' %}
{% endblock javascripts %}