{% extends 'layouts/base.html' %}

{% block title %} BioTective {% endblock title %}


<!-- Specific JS goes HERE --> 
{% block javascripts %}


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.25.4/graphology.umd.min.js"></script> -->
{% endblock javascripts %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
#mynetwork {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
}
</style>
{% endblock stylesheets %}
{% block content %}

<!-- Something hereeee -->
<div class="container pb-5 pl-5">
    <div class="row">
      <div class="col-lg-9 col-10">
          <h1 class="p-3">Settings</h1>
      </div>
      </div>
          <div clss="card">
              <div class="col-5 text-left">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info" role="alert">{{ message[-1] }}</div>
                {% endif %}
                {% endwith %}
                <p>Create a simple network with some nodes and edges.</p>
                {% for row in kg_data %}
                      <p>{{ row }}</p>
                {% endfor %}
                <p>KG_DATA</p>
                <p>{{ kg_data }}</p>
                <h3>Below are from js</h3>
                <div id="nodes"></div>
                <div id="edges"></div>
                <div id="mynetwork"></div>
                <script>
                    // Example record data extracted from your description
                    const graphData = [
                      { nodeId: {{kg_data["nodeId"] }} , label: '{{kg_data["label"] }}', user_id: '{{kg_data["user_id"] }}', 
                      glucoseData: [
                        {% for row in kg_data["glucoseData"] %}
                          { recordId: '{{ row["timestamp"] }}', glucose_level: {{ row["glucose_level"] }}, timestamp: '{{ row["timestamp"] }}' },
                        {% endfor %}
                      ],
                      foodintakeData: [
                        {% for row in kg_data["foodintakeData"] %}
                          { recordId: '{{ row["timestamp"] }}', food_items: '{{ row["food_items"] }}', timestamp: '{{ row["timestamp"] }}', value: '{{row["value"]}}' },
                        {% endfor %}
                      ],
                    
                    }
                    ];
                    
                  // create an array with nodes
                      var nodes = new vis.DataSet();

                      // create an array with edges
                      var edges = new vis.DataSet();

                      // Adding nodes and edges from the provided graph data
                      graphData.forEach(data => {
                        nodes.add({ id: data.nodeId, label: data.label, title: `${data.user_id}`, color: "#203468" });

                        data.glucoseData.forEach(record => {
                          const recordNodeId = `${data.nodeId}-${record.recordId}`;
                          nodes.add({ id: recordNodeId, label: `cgm: ${record.glucose_level}`, title: `${record.timestamp}`, value:record.glucose_level  });
                          edges.add({ from: data.nodeId, to: recordNodeId});
                        });
                        data.foodintakeData.forEach(record => {
                          const recordNodeId = `${data.nodeId}-${record.recordId}`;
                          nodes.add({ id: recordNodeId, label: `food: ${record.food_items}`, title: `${record.timestamp}`, color: "#FB7E81" });
                          edges.add({ from: data.nodeId, to: recordNodeId, value:record.value+70  });
                        });
                      });

                      // create a network
                      var container = document.getElementById("mynetwork");
                      var data = {
                        nodes: nodes,
                        edges: edges
                      };
                      var options = {
                          nodes: {
                            shape: "dot",

                          },
                        };
                      var network = new vis.Network(container, data, options);

                      window.addEventListener("load", () => {
                          draw();
                        });

                </script>
              </div>
          </div>
          <br>
  
    {% endblock content %}

