{% extends 'layouts/base.html' %}

{% block title %} New HP {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Something hereeee -->
<div class="container pb-5">
    <div class="row">
      <div class="col-lg-9 col-10">
          <h1 class="p-3">New Healthcare Provider</h1>
      </div>
      <div class="col-lg-10 col-2">{% include 'includes/sidenav-toggler.html' %}</div>
      </div>
          <div clss="card">
              <div class="col-5 text-left">
                  <form action="{{ url_for('create_new_hp') }}" method="post">
                    <div>
                      {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          {% for message in messages %}
                          <div class="alert alert-info" role="alert">{{ message }}</div>
                          {% endfor %}
                      {% endif %}
                      {% endwith %}
                    </div>
                        <div class="form-group mb-3">
                          <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            </div>
                            <input class="form-control" placeholder="Username" type="text" name="username" required/>
                          </div>
                        </div>
                        <div class="form-group mb-3">
                          <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input class="form-control" placeholder="Email" type="email" name="email" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>
                            <input class="form-control" placeholder="Password" type="password" name="password" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>
                            <input class="form-control" placeholder="Confirm Password" type="password" name="password_check" required/>
                          </div>
                        </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary my-4">Create</button>
                        </div>
                      </form>
              </div>
          </div>
          <br>
  
    {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}