{% extends 'layouts/base.html' %}

{% block title %} Patients {% endblock title %}
<!-- Specific script goes HERE -->
{% block script %} 
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock script %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
{% endblock stylesheets %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-body">
                  <h5 class="card-title">Doctors</h5>
    
                  <!-- Table with stripped rows -->
                  <table class="display text-sm" id="myTable">
                    <thead>
                      <tr>
                        <th><b>Name</b></th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Created Time</th>
                        <th>Address</th>
                        <th>Active</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for doctor in doctors %}
                      <tr>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.gender }}</td>
                        <td>{{ doctor.email }}</td>
                        <td>{{ doctor.created_time }}</td>
                        <td>{{ doctor.user_raw[0].address }}</td>
                        <td>{{ doctor.active }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
 
      </div>
    </div>
  </div>
  </div>
  </div>

    {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

<script>
    $(document).ready( function () {
    // $('#myTable').DataTable();
    new DataTable('#myTable');
} );
</script>
{% endblock javascripts %}