{% extends 'layouts/base.html' %}

{% block title %} Patients {% endblock title %}

<!-- Specific script goes HERE -->
{% block script %} 
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock script %}


{% block content %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<style>
    #myTable th, #myTable td {
        padding: 10px; /*space between columns */
        text-align: left; 
    }
    #myTable th {
        background-color: #f2f2f2; 
    }
</style>
{% endblock stylesheets %}
<div class="container text-center">
    <div class="row">
      <div class="flex-fill justify-content-end">
        <div class="card" style="margin-top: 85px;">
            <div class="card-body">
                  <h5 class="card-title">Patients</h5>
    
                  <!-- Table with stripped rows -->
                  <table class="display text-sm" id="myTable">
                    <thead>
                      <tr>
                        <th><b>Name</b></th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Created Time</th>
                        <th>Height</th>
                        <th>Health Status</th>
                        <th><b>Details</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for patient in patients %}
                      <tr>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>{{ patient.email }}</td>
                        <td>{{ patient.created_time }}</td>
                        <td>{{ patient.height }}</td>
                        <td>{{ patient.health_status }}</td>
                        <td class="text-center"><a href="{{url_for('home', user_id= patient.user_id)}}"><i class="bi bi-bar-chart-fill"></i></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
 
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

<script>
    $(document).ready( function () {
        new DataTable('#myTable');
    });
</script>
{% endblock javascripts %}
