{% extends 'layouts/base.html' %}

{% block title %} Settings {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container pb-5">
  <div class="row">
    <div class="col-lg-9 col-10">
        <h1 class="p-1">Settings</h1>
    </div>
    <div class="col-lg-10 col-2">{% include 'includes/sidenav-toggler.html' %}</div>
    </div>
        <div clss="card">
            <div class="col-5 text-left">
                <form action="/user_settings" method="post">
                  <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                  </div>
                    <div class="mb-3">
                        <label for="userName" class="form-label">Name</label>
                        <input type="text" class="form-control form-control-sm" id="userName" value="{{ user.name }}" name="name">
                      </div>
                    <div class="mb-3">
                      <label for="userEmail" class="form-label">Email address</label>
                      <input type="email" class="form-control form-control-sm" id="userEmail" value="{{ user.email }}" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="userPassword" class="form-label">Password</label>
                      <input type="password" class="form-control form-control-sm" id="userPassword" value="{{ user.password }}" name="password">
                    </div>
                    <div class="mb-3">
                      <label for="userGender" class="form-label">Gender</label>
                      <input type="text" class="form-control form-control-sm" id="userGender" value="{{ user.gender }}" name="gender">
                    </div>
                    <!-- <div>
                        <img src="{{ user.profile_img_url }}">
                      <p>{{ user.profile_image_url }}</p>
                    </div> -->

                    <!-- <button class="btn btn-danger" onclick="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                      </svg>
                    </button> -->
                    <button type="submit" class="btn btn-primary">Update</button>
                  </form>
            </div>
        </div>
        <br>
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <strong>Congratulations!</strong> User Detail Updated Successfully
            <button id="dismissable_button" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <script>
            let dismissable_button = document.getElementsById("dismissable_button");
            dismissable_button.setAttribute("type", "hidden");
          </script>
    {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}