{% extends 'layouts/base-fullscreen.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <h1>Pretend that this is a dashboard!</h1>
        <ul>
            <li>
                <a class="nav-link"
                target="_blank"
                href="/logout">
                       <i class="ni ni-button-power text-red"></i>
                       <span class="nav-link-text">Logout</span>
                     </a>
            </li>
        </ul>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
